<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Team</title>
    <link rel="stylesheet" href="../assets/style.css" />
  </head>
  <body>
    <% data.forEach((item)=> { %>
        
     <% if(item.getRole() === 'Manager') {%>
        <div class="container">
            <div class="title"><%= item.getRole()%></div>
            <div class="info name">Name: <%= item.name%></div>
            <div class="info id">ID: <%= item.id%></div>
            <div class="info email">Email: <%= item.email%></div>
            <div class="info">Office: <%= item.officenum %></div>
          </div>
     <%} %>
     <% if(item.getRole() === 'Engineer') {%>
        <div class="container">
            <div class="title"><%= item.getRole()%></div>
            <div class="info name">Name: <%= item.name%></div>
            <div class="info id">ID: <%= item.id%></div>
            <div class="info email">Email: <%= item.email%></div>
            <div class="info">Github: <%= item.github %></div>
          </div>
     <%} %>
     <% if(item.getRole() === 'Intern') {%>
        <div class="container">
            <div class="title"><%= item.getRole()%></div>
            <div class="info name">Name: <%= item.name%></div>
            <div class="info id">ID: <%= item.id%></div>
            <div class="info email">Email: <%= item.email%></div>
            <div class="info">School: <%= item.school %></div>
          </div>
     <%} %>
    

    <%})%>

  </body>
</html>
